.hero,
.heroHalved {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title,
.caption {
  animation: fadeIn 2s;
}

.title {
  font-size: 7rem;
  font-weight: 500;
}

.caption {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 400;
}

.halfScreen,
.fullScreen {
  transition: all 1s;
}

.halfScreen {
  width: 50%;
}

.fullScreen {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .hero,
  .heroHalved {
    gap: 0rem;
  }
  .hero {
    height: 100vh;
  }

  .heroHalved {
    height: 50vh;
  }

  .title {
    margin-top: 1rem;
    font-size: 4rem;
    font-weight: 700;
  }

  .caption {
    font-size: 1.4rem;
  }

  .halfScreen {
    width: 100%;
  }
}
