@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");

.hero {
  position: relative;
  width: 50%;
  height: 100vh;
  float: left;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "Lora", serif;
  color: white;
}

.title {
  font-size: 7rem;
  font-weight: 500;
}

.caption {
  margin-top: 2rem;
  font-size: 2rem;
}
