.kanjiInput {
  margin: 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.name,
.kanjifyButton {
  font-size: 2rem;
}

.name {
  border: none;
  padding: 1rem 0;
  border-radius: 10px 0 0 10px;
  text-align: center;
  font-family: "Lora";
}

.kanjifyButton {
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 1rem;
  background-color: #c62368;
  color: white;
}

.kanjifyButton:hover {
  background-color: #e82878;
}

.kanjifyButton:active {
  background-color: #bc2263;
}

@media (max-width: 673px) {
  .kanjiInput {
    display: flex;
    flex-direction: column;
    box-shadow: none;
  }

  .name,
  .kanjifyButton {
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .name {
    margin: 1rem 0;
  }

  .kanjifyButton {
    margin: 1rem 0 0 0;
  }
}

@media (max-width: 1024px) {
  .name {
    margin: 1rem 0;
  }

  .kanjifyButton {
    margin: 1rem 0 0 0;
  }
}
