@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");

header {
  position: relative;
  width: 50%;
  height: 100vh;
  float: left;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: #ffc145;
  background: url(../svgs/layered-waves-haikei.svg);
  background-size: cover;
  font-family: "Lora", serif;
  color: white;
}

.title {
  font-size: 7rem;
  font-weight: 500;
}

.caption {
  margin-top: 2rem;
  font-size: 2rem;
}
/* 
.wave-down {
  position: absolute;
  width: 100%;
  top: -1rem;
  left: 0;
}

.wave-up {
  position: absolute;
  width: 100%;
  bottom: 0rem;
  left: 0;
} */
