.kanji-card {
  width: 30rem;
  flex: 0 0;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  background: #f8f8f8;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 2rem 0rem;
}

.kanji-card:nth-child(1) {
  margin-top: 4rem;
}

.kanji-name {
  display: flex;
  padding: 10px;
}

.kanji-character-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kanji {
  margin: 0.3rem 0;
}

.kanji-name-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kanji-character-breakdown {
  width: 70%;
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(129, 129, 129);
}

.kanji-character-breakdown:nth-child(1) {
  border-top: 0.3rem solid rgb(129, 129, 129);
}

.kanji-character {
  padding: 1rem;
}
