.kanji-card {
  width: 30rem;
  flex: 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  scroll-snap-align: start;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background: #f8f8f8;
  padding: 1rem 0 1rem 0;
  transition: all 0.3s;
  cursor: pointer;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.kanji-card:nth-child(1) {
  margin-top: 3rem;
}

.kanji-card:hover {
  border: 0.4rem solid #fe5f55;
  border-radius: 42% 58% 38% 62% / 62% 33% 67% 38%;
  padding: 5rem;
  width: 32rem;
}

.kanji-name {
  display: flex;
  gap: 0.5rem;
  padding: 1.5rem;
}

.kanji-character-wrapper {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  align-items: center;
}

.kanji-name-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kanji-character-breakdown {
  width: 80%;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  align-items: center;
  border-top: 1px solid #b8b8d1;
}

.kanji-character-breakdown:nth-child(1) {
  border-top: 0.3rem solid #b8b8d1;
}

.kanji-character {
  background-color: #ffc95e;
  border-radius: 50%;
  padding: 0.7rem;
}

/* LEGACY PROJECT - ADDED CSS */

/* for + fav and share */
.links-wrapper {
  margin-top: 24px;
  width: 80%;
  display: flex;
  gap: 0.4rem;
  /* flex-direction: column; */
  justify-content: right;
}

/* placeholder for links formatting */
.links-text {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #444;
}
