@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  margin: 15rem 0 0 0;
  width: 14rem;
  height: 14rem;
  border: 1rem solid #f3f3f3;
  border-top: 1rem solid #fe5f55;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}