h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

.main-container {
  width: 50%;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kanji-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}

.kanji-name {
  display: flex;
  padding: 10px;
}

.kanji-character-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kanji {
  margin: 0.3rem 0;
}


.kanji-name-info {
  display: flex;
  flex-direction: column;
}

.kanji-character-breakdown {
  display: flex;
  border: 1px solid black;
}